RewriteEngine   on

RewriteCond    %{HTTP_HOST}            reformonsledroitdauteur.eu                  [NC]
RewriteRule    ^(.*)$                  http://www.reformonsledroitdauteur.eu/$1         [L,R=301]

